:root {
  --primary-color: #7F002D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: white;
}

body {
  display: flex;
  background-repeat: repeat;
  background-position: center;
}

.game-info-container {
  width: calc(100vw - 1080px);
  margin-top: 20px;
}

.game__time {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
}

.game__movements {
  display: block;
  font-size: 2rem;
  font-weight: normal;
}

.game__settings {
  width: 80%;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game__settings h2,
.game__settings p {
  font-family: 'Macondo', cursive;
  font-size: 2.8rem;
  margin: 1.2rem 0;
}

.game__settings p {
  font-size: 2.4rem;
}

.game__settings form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.settings__input--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 10px;
}

.settings__input--container:nth-child(1) {
  flex-flow: row-reverse;
}

.settings__input--container label:hover {
  cursor: pointer;
}

.settings__input--container label {
  font-family: 'Macondo', cursive;
  font-size: 2.4rem;
}

.settings__input--container input {
  opacity: 0;
}

.settings__input--container input[id="berserk"]:checked + label,
.settings__input--container input[id="viking"]:checked + label {
  color: var(--primary-color);
}

.game__button--start {
  margin-top: 20px;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  font-family: 'Macondo', cursive;
  font-size: 2rem;
  background-color: var(--primary-color);
}

.game__button--start:hover {
  cursor: pointer;
}

.game__rules {
  width: 100%;
  padding-left: 2.4rem;
}

.game__rules h2 {
  font-size: 2.4rem;
}

.game__rules p {
  font-size: 1.2rem;
}

.rules__section {
  margin: 20px 0;
}

.rules__section--title {
  font-size: 2rem;
}

.rules__section--container {
  margin-left: 2.4rem;
  padding-right: 1rem;
}

.rules__item {
  font-size: 1.6rem;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1000;
  background-color: white;
}

.modal-container p {
  color: black;
  text-align: center;
}

.modal-title {
  font-size: 3.2rem;
  margin-bottom: 24px;
}

.modal-text {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.modal-button {
  display: block;
  margin: 20px auto;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 2.4rem;
  color: white;
  background-color: var(--primary-color);
}

.modal-button:hover {
  cursor: pointer;
}

.inactive {
  display: none;
}